
<h4>Rates</h4>

<a class="btn btn-sm btn-primary" ng-click="$ctrl.newCredit()">
  <i class="fa fa-plus"></i>
  Add New Rate
</a>

<table class="table">
  <thead>
    <tr>
      <th>
        <span class="hidden-xs hidden-sm">Pulses</span>
        <span class="hidden-md hidden-lg">Pulses/Amount</span>
      </th>
      <th class="hidden-xs hidden-sm">Amount</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="t in $ctrl.settings.timer" class="editable-row">
      <td>
        <span editable-number="t.pulse" e-name="pulse" e-form="rowform" e-required e-class="form-control">
          {{ t.pulse }}
        </span>
      </td>
      <td class="hidden-xs hidden-sm">
        <span ng-show="$ctrl.inserted == t">(amount = pulses)</span>
        <span ng-show="$ctrl.inserted != t">
          {{ t.pulse | number:2 }}
        </span>
      </td>
      <td class="select-td" ng-class="{'text-danger': !t.minutes || t.credits <= 0}">
        <span editable-number="t.minutes" e-name="minutes" e-form="rowform" e-class="form-control" e-required>
          {{ t.minutes * 60 | adotime:'short' }}
        </span>
        <span class="help-block" ng-if="rowform.$visible">(input in minutes)</span>
      </td>
      <td>
        <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" onbeforesave="$ctrl.updateTimer($index, $data)" oncancel="onCancel(i, t)" shown="$ctrl.inserted == t">
          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
            Save
          </button>
          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
            Cancel
          </button>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
          <button class="btn btn-danger editable-table-button btn-xs" ng-click="$ctrl.removeCredit($index)">Delete</button>
        </div>
      </td>
    </tr>

  </tbody>
</table>

<hr>

<form name="timerForm">
  <div class="row">

    <div class="col-md-6">

      <div require-version="'3.0.81'" current-version="$ctrl.settings.version">

        <h4>Free Trial</h4>
        <div class="form-group" ng-class="{'has-error' : timerForm.first_time_trial.$invalid, 'has-success': timerForm.first_time_trial.$valid && timerForm.first_time_trial.$touched}">
          <label>
            Give free trial for first-time users (in minutes)
          </label>
          <input type="number" min="0" class="form-control" ng-model="$ctrl.settings.first_time_trial" name="first_time_trial" required>
          <span class="help-block" ng-if="timerForm.first_time_trial.$error.required">Required.</span>
          <span class="help-block" ng-if="timerForm.first_time_trial.$error.min">Minimum of 0 min</span>
        </div>

        <div ng-show="$ctrl.settings.first_time_trial > 0">

          <div class="checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="first_time_trial_all" ng-model="$ctrl.settings.first_time_trial_all">
              <span>
                Include already registered users
              </span>
            </label>
          </div>

          <div ng-show="$ctrl.settings.first_time_trial_all">

            <div class="radio">
              <label>
                <input type="radio" name="first_time_trial_all_with_time" ng-model="$ctrl.settings.first_time_trial_all_with_time" ng-value="false">
                Include only users without remaining time
              </label>
            </div>

            <div class="radio">
              <label>
                <input type="radio" name="first_time_trial_all_with_time" ng-model="$ctrl.settings.first_time_trial_all_with_time" ng-value="true">
                Give free trial time to all users
              </label>
            </div>

          </div>

        </div>

      </div>
      <hr>

      <h4>Pause Time Settings</h4>

      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" name="allow_pause" ng-model="$ctrl.settings.allow_pause">
          <span>
            Allow users to pause time?
          </span>
        </label>
      </div>

      <div class="form-group" ng-class="{'has-error' : timerForm.allow_pause_time.$invalid, 'has-success': timerForm.allow_pause_time.$valid && timerForm.allow_pause_time.$touched}">
        <label>
          Allow pause if user's time is less than <mark>{{$ctrl.allow_pause_time}}</mark> hour(s)?
        </label>
        <input type="number" min="1" class="form-control" ng-model="$ctrl.allow_pause_time" name="allow_pause_time" required>
        <span class="help-block" ng-if="timerForm.allow_pause_time.$error.required">Required.</span>
        <span class="help-block" ng-if="timerForm.allow_pause_time.$error.min">Minimum of 1 hour</span>
      </div>

      <div class="form-group" ng-class="{'has-error' : timerForm.allow_pause_validity.$invalid, 'has-success': timerForm.allow_pause_validity.$valid && timerForm.allow_pause_validity.$touched}">
        <label>Pause Time Validity (in hours)</label>
        <input type="number" min="1" class="form-control" ng-model="$ctrl.allow_pause_validity" name="allow_pause_validity" required>
        <span class="help-block" ng-if="timerForm.allow_pause_validity.$error.required">Required.</span>
        <span class="help-block" ng-if="timerForm.allow_pause_validity.$error.min">Minimum of 1 hour</span>
      </div>

      <div class="checkbox">
        <label class="custom-checkbox">
          <input type="checkbox" name="auto_continue_time" ng-model="$ctrl.settings.auto_continue_time">
          <span>
            Automatically continue users timer after reboot/shutdown?
          </span>
        </label>
      </div>

      <hr>

      <h4>Counter Settings</h4>

      <div class="form-group" ng-class="{'has-error' : timerForm.waiting.$invalid, 'has-success': timerForm.waiting.$valid && timerForm.waiting.$touched}">
        <label>How many seconds to wait for customer to pay?</label>
        <input type="number" min="5" class="form-control" ng-model="$ctrl.settings.counter_timer" name="waiting" required>
        <span class="help-block" ng-if="timerForm.waiting.$error.required">Required.</span>
        <span class="help-block" ng-if="timerForm.waiting.$error.min">Minimum of 5 seconds</span>
      </div>

      <div class="form-group" ng-class="{'has-error' : timerForm.max_payment_retries.$invalid, 'has-success': timerForm.max_payment_retries.$valid && timerForm.max_payment_retries.$touched}">
        <label>How many insert coin retries to allow before suspending user?</label>
        <input type="number" min="1" class="form-control" ng-model="$ctrl.settings.max_payment_retries" name="max_payment_retries" required>
        <span class="help-block" ng-if="timerForm.max_payment_retries.$error.required">Required.</span>
        <span class="help-block" ng-if="timerForm.max_payment_retries.$error.min">Minimum of 1</span>
      </div>

      <div class="form-group" ng-class="{'has-error' : timerForm.wait_payment_seconds.$invalid, 'has-success': timerForm.wait_payment_seconds.$valid && timerForm.wait_payment_seconds.$touched}">
        <label>How many minutes to suspend user after max insert coin retries reached?</label>
        <input type="number" min="1" class="form-control" ng-model="$ctrl.wait_payment_seconds" name="wait_payment_seconds" required>
        <span class="help-block" ng-if="timerForm.wait_payment_seconds.$error.required">Required.</span>
        <span class="help-block" ng-if="timerForm.wait_payment_seconds.$error.min">Minimum of 1</span>
      </div>

    </div>

    <div class="col-md-6">

      <h4>Coinslot Wiring Settings</h4>

      <div class="form-group" ng-class="{'has-error' : timerForm.sensor.$invalid, 'has-success': timerForm.sensor.$valid && timerForm.sensor.$dirty}">
        <label>Coinslot Sensor Type</label>
        <select class="form-control" ng-options="v.val as v.desc for v in $ctrl.coinslot_versions" ng-model="$ctrl.settings.coinslot_sensor_version" name="sensor" required>
        </select>
        <span class="help-block" ng-show="$ctrl.settings.coinslot_sensor_version == 4">
          <a href="https://www.adopisoft.com/blog/articles/setting-up-serial-coinslot-sensor" target="_blank">Click here to learn about serial connection sensor.</a>
        </span>
      </div>

      <div ng-show="$ctrl.settings.coinslot_sensor_version == 1 || $ctrl.settings.coinslot_sensor_version == 2 || $ctrl.settings.coinslot_sensor_version == 3" class="form-group" ng-class="{'has-error' : timerForm.coinslot_gpio_pin.$invalid, 'has-success': timerForm.coinslot_gpio_pin.$valid && timerForm.coinslot_gpio_pin.$touched}">
        <label>GPIO Pin for coin/white wire</label>
        <!--<select name="coinslot_gpio_pin" class="form-control" ng-model="$ctrl.settings.coinslot_gpio_pin" ng-options="pin as pin for pin in $ctrl.pins" required></select>-->
        <!-- TODO: check if model is rpi or espressobin -->
        <input type="number" name="coinslot_gpio_pin" class="form-control" ng-model="$ctrl.settings.coinslot_gpio_pin" required>
        <span ng-show="$ctrl.settings.hardware.model == 'raspberry_pi_3'" class="help-block">(GPIO numbering base on RPI BOARD)</span>
        <span ng-show="$ctrl.settings.hardware.model == 'raspberry_pi_3'" ado-rpi3-gpio-ref class="help-block"><a>CLICK HERE TO SHOW RPI BOARD GPIO NUMBERING</a></span>
      </div>

      <div
        ng-show="$ctrl.settings.coinslot_sensor_version === 4"
        class="form-group"
        ng-class="{'has-error': timerForm.serial_tty.$invalid}">
        <label>Serial Device</label>
        <input type="text" ng-model="$ctrl.settings.serial_tty" required name="serial_tty" class="form-control">
      </div>

      <div
        ng-show="$ctrl.settings.coinslot_sensor_version === 4"
        class="form-group"
        ng-class="{'has-error': timerForm.serial_boad_rate.$invalid}">
        <label>Serial Boad Rate</label>
        <input type="number" ng-model="$ctrl.settings.serial_boad_rate" required name="serial_boad_rate" class="form-control">
      </div>
      <hr>

      <div>

        <h4>Relay Settings</h4>

        <div class="form-group" ng-class="{'has-error': timerForm.relay_pin_number.$invalid}">
          <label>Relay GPIO Pin</label>
          <input type="number" ng-model="$ctrl.settings.relay_pin_number" name="relay_pin_number" required class="form-control">
          <span class="help-block"><a href="https://raspberrypi.stackexchange.com/questions/12966/what-is-the-difference-between-board-and-bcm-for-gpio-pin-numbering" target="_blank">(GPIO numbering base on BCM Chip)</a></span>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="active" ng-model="$ctrl.settings.coinslot_relay_active_low" ng-value="true">
            Relay module is active low
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="active" ng-model="$ctrl.settings.coinslot_relay_active_low" ng-value="false">
            Relay module is active high
          </label>
        </div>

        <div class="form-group" ng-class="{'has-error' : timerForm.delay.$invalid, 'has-success': timerForm.delay.$valid && timerForm.delay.$dirty}">
          <label>Coinslot Relay Delay (in seconds)</label>
          <input type="number" min="0" class="form-control" ng-model="$ctrl.settings.coinslot_relay_delay" name="delay" required>
          <span class="help-block" ng-if="timerForm.delay.$error.required">Required.</span>
          <span class="help-block" ng-if="timerForm.delay.$error.min">Minimum of 0 seconds</span>
        </div>

      </div>

    </div>

  </div>

  <hr>

  <save-config-btn device="$ctrl.device" config="{
  coinslot_relay_active_low: $ctrl.settings.coinslot_relay_active_low,
  coinslot_sensor_version: $ctrl.settings.coinslot_sensor_version,
  coinslot_gpio_pin: $ctrl.settings.coinslot_gpio_pin,
  coinslot_relay_delay: $ctrl.settings.coinslot_relay_delay,
  allow_pause_time: $ctrl.allow_pause_time*60*60,
  allow_pause_validity: $ctrl.allow_pause_validity*60*60,
  auto_continue_time: $ctrl.settings.auto_continue_time,
  counter_timer: $ctrl.settings.counter_timer,
  max_payment_retries: $ctrl.settings.max_payment_retries,
  wait_payment_seconds: $ctrl.wait_payment_seconds * 60,
  allow_pause: $ctrl.settings.allow_pause,
  relay_pin_number: $ctrl.settings.relay_pin_number,
  serial_tty: $ctrl.settings.serial_tty,
  serial_boad_rate: $ctrl.settings.serial_boad_rate,
  first_time_trial: $ctrl.settings.first_time_trial,
  first_time_trial_all: $ctrl.settings.first_time_trial_all,
  first_time_trial_all_with_time: $ctrl.settings.first_time_trial_all_with_time
  }" ng-disabled="timerForm.$invalid || timerForm.$pristine">Save Changes</save-config-btn>

</form>

<hr>
<p>
Coinslot not working? <a href="http://adopisowifi.com/articles/fix-coinslot-not-working/" target="_blank">Try these solutions.</a>
</p>

